<header>
  <nav class="nav">
    <ul class="nav__list">
      <li><a href="/" class="nav__logo">devfinder</a></li>
      <li>
        <button type="button" class="nav__themeToggler" aria-label="Toggle theme" (click)="setTheme()">
          <span aria-label="Switch to:" class="themeToggler__theme">
          @if (theme === "dark") {
            light
          } @else {
            dark
          }
        </span>

          @if (theme === "dark") {
          <span class="material-symbols-outlined"> light_mode </span>
          } @else {
          <span class="material-symbols-outlined"> dark_mode </span>
          }
        </button>
      </li>
    </ul>
  </nav>
</header>
